@font-face{font-family:nishgwi;src:url(https://storage.googleapis.com/continua-static-bucket/nishgwi.otf)}

body {
  font-family: nishgwi;
  text-align: center;
  line-height: 1.25em;
  overflow-y: scroll;
  text-orientation: upright;
  writing-mode: vertical-lr;
  font-weight: 200;
  font-size: 2em;
  overflow-wrap: break-word;
  float: left;
  color: rgb(96, 80, 64);
  text-shadow: rgb(160, 128, 64) 0px 0px 2px;
  display: inline-block;
  overflow: hidden;
}